*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Open Sans', sans-serif;
    color: #222;
}
/*header*/
.active{
background-color: #444;
}
header{
    background-color: #333;
    color: rgb(255, 255, 255);
    display: block;
    height: 5rem;
    overflow: hidden;
}
h1{
    float: left;
    padding-top: 1.2rem;
}
header nav{
    float: right;}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);           
}
ul {
    list-style:none;         
    display: block;  
    padding-top: 1.8rem;  

}
header nav ul li{
    display: inline;

            
}
header nav ul li a{
    padding:1.5rem ;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/*section1*/
.section1{
    background-image: url(./Src/Img/frame.jpg);
    height: 50rem;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
h2{
    color: rgb(255, 255, 255);
    padding-top: 5rem;
    font-size: 3.5rem;
    padding-left: rem;
    text-align: center;
}
.bloc{
    block-size: 2rem;
    background-color: black;
    width: 7rem;
    height: 0.7rem;
   margin-left: 47%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.para1{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}
.boutond{
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 0.3rem;
    height: 2.5rem;
    width: 8rem;
    margin-left: 46.5%;
    margin-top: 3rem;
    border-radius: 1rem;
}
.lboutond{
    color: black;
    font-size: 1.2rem;
    font-style: inherit;
    font-weight: bold;
    padding-left: 0.7rem;
}
/*divs avec logo*/
/*left*/
.divleft{
    float: left;
   display: block;
    width: 50%;
    height: 20rem;
    background-color: white;
  
}

.logo{
    text-align: center;   
    margin-top: 2rem;
}
h3{
 text-align: center;
 margin-top: 0.5rem;
   
 margin-bottom: 1rem;
}
.para2{
    font-size: 1.3rem;
    text-align: center;
}
/*right*/

.divrigt{
    float: right;
    display: block;
    width: 50%;
    height: 20rem;
    display: block;
    background-color: white;
    
}
.logo2{
   text-align: center;   
   margin-top: 2rem;
}
.para3{
    text-align: center;
    font-size: 1.3rem;
}
/*femme*/
.charme{
    background-image: url(./Src/Img/person-1.jpg);
    height: 50rem;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
}
/*prefooter*/
.prefooter{
    height: 15rem;
}
h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.para4{
    text-align: center;
    font-size: 1.5rem;
}
.boutonr{
background-color: black;
padding: 0.3rem;
height: 2.5rem;
width: 8rem;
margin-left: 47%;
margin-top: 1rem;
border-radius: 1rem;

}

.boutonr a{
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 0.8rem;
}
/*footer*/
footer{
    background-color: #333;
    color: rgb(255, 255, 255);
    display: block;
    height: 5rem;
    overflow: hidden;
    text-align: center;
   
}
footer p{
    font-weight: 700;
    
    padding-top: 2rem;
    width: auto;

}

/*map*/
.map{
    float: left;
    
    padding-left: 30rem;
    padding-top: 15rem;

   
}
.adresse{
    float: right;
    margin-right: 30rem;
    padding-top: 15rem;
    
}
.where{
    height: 50rem;
}
.h3{
    text-align: left;
}
.hr{
    block-size: 2rem;
    background-color: black;
    width: 30rem;
    height: 0.01rem;
  
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.katre{
    border-radius: 100%;
    color: white;
    background-color: fuchsia;
    display: inline-block;
    padding: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.adresss{
    font-size: 1.5rem;
}
.onz{
    border-radius: 45%;
    color: white;
    background-color: brown;
}